<div class="container-fluid">
  <div class="row">
    <div class="col-md-4  chat">
      <div class="card mb-sm-3 mb-md-0 contacts-body">
        <div class="card-header">
          <div class="input-group">
            <input type="text" placeholder="Search..." name="" class="form-control search">
            <div class="input-group-prepend">
              <span class="input-group-text search_button"><i class="fas fa-search"></i></span>
            </div>
          </div>
        </div>
        <div class="card-body messages_body">
          <ul class="messages">
            <li class="active">
              <div class="d-flex ">
                <div class="img_cont">
                  <img src="assets\images\profile1.png" class="rounded-circle user_img">
                  <span class="online_icon"></span>
                </div>
                <div class="info">
                  <span>Lorem ipsum</span>

                </div>
              </div>
            </li>
            <li>
              <div class="d-flex ">
                <div class="img_cont">
                  <img src="assets\images\profile1.png" class="rounded-circle user_img">
                  <span class="online_icon offline"></span>
                </div>
                <div class="info">
                  <span>Lorem ipsum</span>

                </div>
              </div>
            </li>
            <li>
              <div class="d-flex ">
                <div class="img_cont">
                  <img src="assets\images\profile1.png" class="rounded-circle user_img">
                  <span class="online_icon"></span>
                </div>
                <div class="info">
                  <span>Lorem ipsum</span>

                </div>
              </div>
            </li>
            <li>
              <div class="d-flex ">
                <div class="img_cont">
                  <img src="assets\images\profile1.png" class="rounded-circle user_img">
                  <span class="online_icon offline"></span>
                </div>
                <div class="info">
                  <span>Lorem ipsum</span>

                </div>
              </div>
            </li>
            <li>
              <div class="d-flex ">
                <div class="img_cont">
                  <img src="assets\images\profile1.png" class="rounded-circle user_img">
                  <span class="online_icon offline"></span>
                </div>
                <div class="info">
                  <span>Lorem ipsum</span>

                </div>
              </div>
            </li>
            <li>
              <div class="d-flex ">
                <div class="img_cont">
                  <img src="assets\images\profile1.png" class="rounded-circle user_img">
                  <span class="online_icon offline"></span>
                </div>
                <div class="info">
                  <span>Lorem ipsum</span>

                </div>
              </div>
            </li>
            <li>
              <div class="d-flex ">
                <div class="img_cont">
                  <img src="assets\images\profile1.png" class="rounded-circle user_img">
                  <span class="online_icon offline"></span>
                </div>
                <div class="info">
                  <span>Lorem ipsum</span>

                </div>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div class="col-md-8  chatsample">
      <div class="card">
        <div class="card-header msg_head">
          <div class="d-flex ">
            <div class="img_cont">
              <img src="assets\images\profile1.png" class="rounded-circle user_img">
              <span class="online_icon"></span>
            </div>
            <div class="info">
              <span>Lorem ipsum</span>

            </div>
            <div class="video_cam">
              <span><i class="fas fa-video"></i></span>
              <span><i class="fas fa-phone"></i></span>
            </div>
          </div>


        </div>
        <div class="card-body msg_card_body">


        </div>
        <div class="card-footer">
          <div class="input-group">
            <div class="input-group-append">
              <span class="input-group-text attached_button"><i class="fas fa-paperclip"></i></span>
            </div>
            <textarea name="" class="form-control type_msg" placeholder="Please type your message"></textarea>
            <div class="input-group-append">
              <span class="input-group-text send_button"><i class="fas fa-location-arrow"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>


</div>